<!-- 

<mat-slider min="1" max="100" step="1" value="50"></mat-slider>


<p>Default Accent Theme Slider</p>
<mat-slider></mat-slider>
<hr>

<p>Primary Theme Slider</p>
<mat-slider color="primary"></mat-slider>
<hr>

<p>Warn Theme Slider</p>
<mat-slider color="warn"></mat-slider>
<hr>

<p>Inverted Slider</p>
<mat-slider invert="true"></mat-slider>
<hr>

<p>Vertical Slider</p>
<mat-slider vertical="true"></mat-slider>
<hr>

<p>Disabled Slider</p>
<mat-slider disabled="false"></mat-slider>
<hr>
 -->
 <app-navigationbar></app-navigationbar>
<div class="container-klass">
    <router-outlet>
    </router-outlet>
</div>
